arm-sysroot/
build/
initramfs/
logs/
opentom_dist/
src/linux-s3c24xx/
gcc-3.3.4_glibc-2.3.2/
./tools/
*.o
applications/src/flxplorer/flxplorer
applications/src/nanobrick/nanobrick
applications/src/nanobrick/nanobrick_editor
applications/src/nanobrick/nanobrick_images.c
applications/src/nxmenu/nxmenu
applications/src/nxterminal/nxterminal
applications/src/nxtetravex/nxtetravex
applications/src/pixil_keyboard/nxkeyboard
applications/src/tools/dogfeed
applications/src/tools/editor
applications/src/tools/espeakdsp
applications/src/tools/flchoose
applications/src/tools/flkill
applications/src/tools/flmessage
applications/src/tools/fonts
applications/src/tools/nx_bat_monitor
applications/src/tools/nx_bat_monitor_console
applications/src/tools/nxlight
applications/src/tools/nxloadmon
applications/src/tools/power_button
Downloads/bluez-libs-2.15-tt350126.tar.gz
Downloads/bluez-utils-2.15.tar.gz
Downloads/busybox-1.22.1.tar.bz2
Downloads/csrinit-tt531604.tar.gz
Downloads/curl-7.51.0.tar.gz
Downloads/dropbear-2016.74.tar.bz2
Downloads/fltk-1.3.2-source.tar.gz
Downloads/freetype-2.3.12.tar.gz
Downloads/glib-1.2.10.tar.gz
Downloads/glib-2.14.6.tar.gz
Downloads/libid3tag-0.15.1b.tar.gz
Downloads/libjpeg-6b.tar.gz
Downloads/libmad-0.15.1b.tar.gz
Downloads/libpng-1.6.28.tar.gz
Downloads/ppp-2.4.7.tar.gz
Downloads/SDL_image-1.2.12.tar.gz
Downloads/SDL_mixer-1.2.12.tar.gz
Downloads/SDL_ttf-2.0.11.tar.gz
Downloads/SDL-1.2.15.tar.gz
Downloads/toolchain_redhat_gcc-3.3.4_glibc-2.3.2-20060131a.tar.gz
Downloads/tslib-1.0.tar.bz2
Downloads/zlib-1.2.11.tar.gz
src/tools/ttimage_tools/mkttimage
src/tools/ttimage_tools/ttimgextract
tools/get_source.sh
tools/install_shared_libs.sh
tools/is_use_lib.sh
tools/mkttimage
tools/ttimgextract
